---
title: Créer une ACP
description: Recommandations et conseils pour créer une nouvelle initiative d'Agriculture Contractuelle de Proximité (ACP).
---

<section class="page-header">
  <div class="container">
    <h1>Créer une ACP</h1>
  </div>
</section>

<section class="page-content">
  <div class="container">
    <p>Il n'y a pas une manière unique de démarrer un projet. Tout dépend de la personne démarrant le projet, l'impulsion peut venir de consommateurs ou de producteurs. Avec l'expérience, les membres du comité ont pu rédiger une liste de recommandations :</p>

    <ul>
      <li>Commencer par recruter des consommateurs, cela donne une meilleure prise de responsabilité de leur part dans la démarche.</li>

      <li>Organiser une séance d'information sur ce qu'est l'ACP. Inviter à cette séance des producteurs et des consommateurs. Cette séance peut être organisée de manière privée et informelle ou par des organisations publiques. A la fin de la séance, établir une liste des personnes (producteurs et consommateurs) intéressées et organiser une nouvelle séance avec ces gens-là (groupe de travail, noyau dur et motivé).</li>

      <li>Réunir un groupe de 4-5 personnes pour étudier et mettre en route le projet. Recruter d'autres consommateurs quand le projet sera plus avancé. Associer un ou des producteur(s) au projet dès le départ, pour bien prendre en compte la réalité de leur travail.</li>

      <li>Visiter une ou des initiatives ACP qui fonctionnent déjà.</li>

      <li>Pour plus de renseignements et pour organiser les séances, la FRACP peut soutenir les démarches. N'hésitez pas à nous contacter à <%= mail_to site_email, site_email %>.</li>

      <li>Pour gérer facilement votre ACP, utilisez <%= link_to 'CSA/ACP Admin', 'https://csa-admin.org/acp' %> développé par Thibaud Guillaume-Gentil.</li>
    </ul>

    <p style="text-align: center; margin-top: 2rem;">
      <%= mail_to site_email, 'Nous contacter', class: 'btn' %>
    </p>
  </div>
</section>
