---
title: Une ACP, c'est quoi ?
description: L'acronyme ACP correspond à Agriculture Contractuelle de Proximité. Découvrez le fonctionnement des paniers ACP et leurs avantages.
---

<section class="page-header">
  <div class="container">
    <h1>Une ACP, c'est quoi ?</h1>
  </div>
</section>

<section class="page-content">
  <div class="container">
    <p>L'acronyme ACP correspond à « Agriculture Contractuelle de Proximité ». Les notions phares sont donc les idées de contrat entre consommateurs et producteurs et celle de proximité. Par contrat, on sous-entend un engagement à long terme, sur une saison ou une année complète, ce qui différencie les ACP des systèmes à commande unique. Si la notion de proximité n'a pas de définition précise, c'est parce que chaque initiative s'est organisée différemment, mais l'idée forte est de consommer local, ce qui peut vouloir dire produit sur place ou dans le canton.</p>

    <p>Lors de notre dernière journée de discussion, les membres de la FRACP se sont mis d'accord sur la définition suivante : « L'Agriculture Contractuelle de Proximité peut se définir comme regroupant les initiatives de paniers contractuels pour une agriculture locale, écologique, sociale, solidaire et à taille humaine pour assurer la souveraineté alimentaire. »</p>

    <p>Le concept d'ACP est reconnu, au niveau international, comme la traduction locale du concept de « Community Supported Agriculture » (CSA), au même titre que les « Associations pour le Maintien de l'Agriculture Paysanne » (AMAP) en France, ou les « SOlidarische LAndWIrtschaft » (SOLAWI) en Allemagne et en Suisse alémanique, par exemple.</p>

    <p>Ce qui est pour nous capital est la transparence dans la relation entre les producteurs et les consommateurs, ce n'est possible qu'avec un minimum d'intermédiaires. On ne peut défendre un prix juste au producteur si de nombreux intermédiaires ajoutent leur marge au prix de base. De nombreux producteurs faisant partie des ACP ont différents canaux de distribution : vente à la ferme, vente au marché, vente dans des magasins. Ce qui nous importe est le prix juste pour le producteur et la transparence dans les transactions.</p>

    <p>Nous sommes conscients que le modèle des ACP demande un fort engagement de la part des consommateurs et des producteurs et donc ne convient pas à tout le monde. Il y a une certaine gradation en termes d'engagement dans les circuits-courts, depuis aller régulièrement au marché, en passant par acheter local de temps en temps, jusqu'à investir du temps et de l'argent dans un projet exigeant comme peuvent l'être la plupart des ACP.</p>

    <p class="text-center">
      <%= link_to 'Voir la carte des paniers', map_url, class: 'btn' %>
    </p>
  </div>
</section>
